* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #ffff;
  --main-bg-color: #ffff;
  --section-bg-color: #ffff;
  --footer-bg-color: #ffff;
  --border-bg-color: #4538b3;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  color: var(--border-bg-color);
}

header {
  background-color: var(--header-bg-color);
  height: 50px;
  margin: 0px 0px 0px 40px;
  width: 100%;
}

main {
  background-color: var(--main-bg-color);
  display: flex;
  flex: 1;
}

section {
  background-color: var(--main-bg-color);
  height: 100%;
}

.section-1 {
  box-sizing: border-box;
  height: auto;
  padding: 35px;
  width: 70%;
}

.section-2 {
  width: 30%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-img {
  box-sizing: border-box;
  height: 60%;
  padding-top: 20px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
}

.area {
  border: 0.1rem solid var(--border-bg-color);
  border-radius: 0.3rem;
  color: var(--border-bg-color);
  display: block;
  font-size: 16px;
  height: 90%;
  resize: none;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}

.area::placeholder {
  color: var(--border-bg-color);
  font-size: 17px;
  font-weight: bold;
}

.area:hover,
.area:focus {
  border-color: var(--border-bg-color);
}

.container-btn {
  margin-top: 10px;
  text-align: center;
}

.section-2 {
  border-radius: 21px;
  margin-right: 20px;
  width: 30%;
}

.container-img {
  box-sizing: border-box;
  height: 60%;
  padding-top: 20px;
  overflow: auto;
}

.container-txt-no-found,
.container-txt {
  width: 100%;
  height: 20%;
  text-align: center;
}

footer {
  background-color: var(--footer-bg-color);
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.container-img,
.container-txt-no-found,
.container-txt {
  display: none;
}*/

.txt-result,
.btn-copy-txt {
  display: none;
}

.container-txt {
  width: 100%;
  height: 70%;
}

.txt-result {
  margin: 30px 0px 10px 0px;
  height: 30%;
  width: 100%;
}

.btn-copy {
  display: block;
  height: 40px;
  margin: 30px 0px 0px 0px;
  width: 35%;
}

.button-3 {
  appearance: none;
  background-color: var(--border-bg-color);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #0c742a;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
